@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

/* This file is for your main application CSS */

h1 {
	font-size: 1.5em;
	font-weight: bold;
}

.client.offline {
	color: #888;
}

.client.online .state:after {
  content: "🟢";
}

.client .details {
  margin-left: 2em;
  font-size: 0.9em;
}

.client button {
	padding: 2px 6px;
	background-color: #608;
}

td {
	vertical-align: top;
}

#edit {
	padding-bottom: 50px;
	marging-bottom: 50px;
}