<div>
  <%= if @plot do %>
    <%= @plot %>
  <% end %>
</div>

<div>
  <form phx-submit="set-plan">
    <label for="plan">Plan</label>
    <input type="text" name="plan" value={@plan} />
    <input type="submit" value="Switch Plan" />
  </form>
</div>
